# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Exclure les dossiers `node_modules` de tous les projets
**/node_modules/
**/dist/
**/build/

# Expo
**/.expo/
**/.expo-shared/
**/web-build/
**/expo-env.d.ts
**/.expo/cache/

# Logs
**/logs
**/*.log
**/npm-debug.log*

# macOS
.DS_Store
*.pem

# Environnements
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# typescript
*.tsbuildinfo

# Caches et fichiers temporaires
.temp/
.tmp/
coverage/

.git/
package-lock.json
yarn.lock